/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 50%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}
